body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #1c1c1c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

label {
  font-size: 20px;
  color: white;
}

.bg-illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.bg-illustration img {
  width: 100%;
  max-width: 400px;
}

p {
  color: #b3b3b3;
  margin-bottom: 24px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  padding: 4px 0px 4px 12px;
  border: none;
  border-radius: 4px;
  background-color: #3a3a3a;
  color: #fff;
}

input:focus::-webkit-input-placeholder {
  transition: 0.2s;
  color: transparent;
}

.login-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px;
  border: none;
  border-radius: 4px;
  background-color: #6bdb65;
  color: #1a2e05;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 20px;
  border-style: none;
}

.register-link {
  display: block;
  text-align: center;
  color: #b3b3b3;
  text-decoration: none;
  margin-top: 10px;
}

.register-link:hover {
  text-decoration: underline;
}

.row{
  display: flex;
  align-items: center;
  gap: 0px 12px;
}

.title {
  margin: 0px;
}
