body {
  padding: 40px;
  background-color: #292929;
  color: #fff;
  display: flex;
  justify-content: center;
  overflow: none;
  height: 900px;
  width: auto;
  gap: 56px;
}

select {
  top: 25px;
  background: #bef264;
  color: #1a2e05;
  border: none;
  padding: 10px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
  width: 200px;
  cursor: pointer;
  display: flex;
  margin-bottom: 12px;
}

h4 {
  margin: 0px;
}

label {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

li {
  list-style-type: none;
  display: flex;
}

input, textarea{
  color: white;
}

.header { 
  gap: 0px 12px;
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.nameClient {
  color: var(--zinc-50, #fafafa);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  margin-top: 10px;
  margin: 5px;
}

.demandas-em-aberto {
  height: 100vh;
  overflow-y: scroll;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.Btt {
  display: flex;
  padding: 12px 0px 12px 12px;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  border-radius: 4px;
  width: 312px;
  height: 44px;
  background: #18181b;
  border-style: none;
  color: #ffff;
  cursor: pointer;
}

.Btt:hover {
  transition: 0.5s;
  background: white;
  color: #18181b;
}

.Btt:hover svg path {
  transition: 0.5s;
  stroke: #18181b;
}

.Btt.selected {
  background-color: #bef264; 
}

.BttCadastro {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  width: 312px;
  height: 44px;
  border-style: none;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background: #bef264;
  cursor: pointer;
}

.textBttCadastro {
  color: var(--lime-950, #1a2e05);
  /* Button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.form-group {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 0px 40px;
}

.input-group .form-control {
  flex-grow: 1;
  margin-right: 10px;
}

.btn {
  display: flex;
  margin-top: 12px;
  padding: 20px;
  background-color: #bef264;
  color: #1a2e05;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
}

.btn:hover {
  background-color: #1a2e05;
  color: white;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.list-item {
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color: #666;
  cursor: pointer;
}
.list-item:hover {
  transition: 0.5s;
  color: white;
  background-color: #1a2e05
}

.active {
  color: #1a2e05;
  background-color: #bef264
}
