body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #292929;
    color: #fff;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .content {
    width: 100%;
  }

  .contentBotton {
    display: flex;
      width: 100%;
      top: 687px;
      left: 711px;
      gap: 128px;
      opacity: 0px;
  }
  
  h1 {
    font-family: inter;
    font-size: 48px;
    font-weight: 300;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  
  button {
      width: 285px;
      height: 42px;
      padding: 8px 20px 8px 20px;
      border-radius:8px;
      cursor: pointer;
}
  
  strong {
    font-family: Inter;
    font-size: 48px;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  
  button.client {
    width: 100%;
    background-color: #BEF264;
    color: #000;
    border-style: none;
  }
  
  button.provider {
    width: 100%;
    background-color: #2a2a2a;
    color: #fff;
    border: 1px solid #BEF264;

  }
  
  /* Adicionando estilo à imagem e ao fundo */
  .image {
    max-width: 100%;
    height: auto;
  }
  
  .bg-illustration {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bg-illustration img {
    width: 100%;
    max-width: 300px;
  }
  