<div class="login-container">
 <h2>Login</h2>
 <form >
   <div class="form-group">
     <label for="email">Email:</label>
     <input type="email" [(ngModel)]="email"  id="email"  name="email" required class="form-control">
   </div>
   <div class="form-group" >
     <label for="password" >Password:</label>
     <input type="password" id="password" [(ngModel)]="password"  name="password" required class="form-control">
   </div>
   <!-- <button type="signin" class="btn waves-effect waves-light"(click)="signup">SIGNUP</button> -->
   <button type="submit" class="btn waves-effect waves-light"(click)="login">LOGIN</button>
   <div  class="error-message" (error)="errorMessage"></div>
 </form>
</div>