body {
    background-color: #292929;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-height: auto;
  }
  
  header {
    color: #fff;
    padding: 20px;
    text-align: center;
    flex-direction: column;
  }
  
  header h1 {
    margin: 0;
  }
  
  header form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  header input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
    margin-right: 10px;
  }
  
  header button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 24px;
  }
  
  li {
    border-radius: 8px;
    background: #18181b;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.03) inset,
      0px 1px 0px 0px rgba(255, 255, 255, 0.03) inset,
      0px 8px 8px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.1),
      0px 2px 2px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    max-width: 900px;
    height: auto;
  }
  
  h3 {
    color: #ffffff;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  h4 {
    margin: 0;
  }
  
  .prioridade {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .demandas-em-aberto {
    padding: 0 34px 0 0;
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .demandas-em-aberto::-webkit-scrollbar {
    width: 28px;
  }
  
  .demandas-em-aberto::-webkit-scrollbar-track {
    background: #18181b;
    border-radius: 34px;
  }
  
  .demandas-em-aberto::-webkit-scrollbar-thumb {
    background: #bef264;
    border-radius: 34px;
  }
  
  .detalhes-demanda {
    width: 100%;
    margin-top: 10px;
  }
  
  .detalhes-demanda p {
    margin-bottom: 5px;
  }
  
  .acoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
  
  .btn-orcamento {
    display: flex;
    width: 40%;
    height: 42px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-style: none;
    border-radius: 4px;
    background: #bef264;
    color: #1a2e05;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .btn-excluir {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #ff3d3d;
    color: #ffffff;
    border-style: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .btn-excluir:hover {
    transition: 0.3s;
    background: #942424;
  }
  
  .name-client {
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 10px;
    margin: 5px;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    padding: 40px 40px 0px 40px;
    width: 320px;
  }
  
  .sidebar p {
    font-family: Inter;
    text-transform: capitalize;
    font-weight: 600;
  }
  
  .btn {
    display: flex;
    padding: 12px 0px 12px 12px;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    width: 100%;
    height: 44px;
    background: #18181b;
    border-style: none;
    color: #ffff;
    cursor: pointer;
  }
  
  .btn:hover {
    transition: 0.5s;
    background: white;
    color: #18181b;
  }
  
  .btn:hover svg path {
    transition: 0.5s;
    stroke: #18181b;
  }
  
  #btn-task-open {
    background: #bef264;
    color: #1a2e05;
  }
  
  .btn-Demandas {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    border-style: none;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    background: #bef264;
    cursor: pointer;
  }
  
  .btn-Demandas:hover {
    transition: 0.3s;
    background-color: #1a2e05;
    color: white;
  }
  
  .btn-Demandas:hover svg path {
    transition: 0.3s;
    stroke: white;
  }
  
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  
  .row::after {
    display: none;
  }
  
  .services {
    width: auto;
    display: flex;
    gap: 0px 12px;
  }
  
  .services a {
    padding: 4px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #1a2e05;
    background-color: #bef264;
    cursor: pointer;
  }
  
  .text-btn-cadastro {
    color: #1a2e05;
    /* Button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
  }
  
  .btn-Demandas:hover .text-btn-cadastro {
    color: white;
  }
  
  @media (max-width: 800px) {
    body {
      padding: 24px;
    }
    .sidebar {
      display: none;
    }
    .btn-excluir span {
      display: none;
    }
  
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
  }
  
  .title-button {
    color: var(--zinc-100, #f4f4f5);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  
  .demanda-open-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    align-self: stretch;
  }
  